<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <welcome-file-list>
        <welcome-file>CarsServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>user.pckg.myapp.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarsServlet</servlet-name>
        <servlet-class>cars.pckg.myapp.CarsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarsServlet</servlet-name>
        <url-pattern>/CarsServlet</url-pattern>
    </servlet-mapping>
</web-app>
